<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  <script src="{{ '/scripts/splitParagraphs.js' | relative_url }}"></script>
  <!-- Include MathJax for rendering math -->
<script>
window.MathJax = {
  tex: {
    inlineMath: [['\\(', '\\)']]  // For example, to support inline math with \( ... \)
    // To add dollar signs, you could use:
    // inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  options: {
    processEscapes: true
  }
};
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>
<body>
  <div class="page-content">
<header>
  <h1>{{ page.title }}</h1>
  <p class="meta">
    By {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
    {% if page.date %} on {{ page.date | date: "%B %-d, %Y" }}{% endif %}
  </p>
</header>
    <main>
  {% include sections.html %}
  {{ content | markdownify }}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
</body>
</html>





